@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 16px;
}

body,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0px auto;
  height: 100%;
}

::-webkit-scrollbar {
  background: #f3f7f4;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b31180;
  border-radius: 50px;
}

*::-moz-selection {
  background: #b31180;
  color: #fff;
}

*::selection {
  background: #b31180;
  color: #fff;
}

body.lock_ {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  background: #fff;
  padding-top: calc(5px + 10 * ((100vw - 767px) / 433));
  padding-bottom: calc(5px + 10 * ((100vw - 767px) / 433));
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 3;
  padding-right: calc(5px + 11 * ((100vw - 767px) / 433));
}
.header__logo img {
  min-width: 70px;
  max-width: 200px;
  width: calc(70px + 105 * ((100vw - 767px) / 433));
}
.header__menu {
  position: relative;
  z-index: 3;
  padding-top: calc(-10px + 40 * ((100vw - 320px) / 880));
}
.header__rest {
  position: relative;
  z-index: 3;
  padding-top: calc(0px + 30 * ((100vw - 767px) / 433));
}
.header::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header__logo {
    padding-right: 0;
  }
}
.header.fix_ {
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  background: rgba(255, 255, 255, 0.9333333333);
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
  z-index: 2;
}
.header.fix_::before {
  background: rgba(255, 255, 255, 0);
}
@media (min-width: 767px) {
  .header.fix_ img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .header.fix_ .menu {
    padding: 50px 0 0 0;
  }
}

.menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: calc(10px + -10 * ((100vw - 320px) / 880));
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.menu .nav li {
  text-align: center;
}
.menu .nav li:not(:last-child) {
  padding-right: calc(20px + 25 * ((100vw - 767px) / 433));
}
.menu .nav__link {
  position: relative;
  padding: 0.1em 0;
}
@media (min-width: 767px) {
  .menu .nav__link::before {
    content: "";
    width: 0;
    height: 1px;
    background: #b31180;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
  }
  .menu .nav__link:hover::before {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .menu {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 55px;
    width: 100%;
    height: 100vh;
    background: #b31180;
    overflow: auto;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    -webkit-transform: translate(0, -200%);
            transform: translate(0, -200%);
    padding: 0 0 5em 0;
  }
  .menu .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .menu li {
    padding: 1em 0 !important;
  }
  .menu .nav__link {
    color: #fff;
    font-size: 2rem;
    text-decoration: underline;
  }
  .menu.open_ {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.rest-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13%;
          flex: 0 1 13%;
  padding-left: calc(10px + 14 * ((100vw - 767px) / 433));
}
.rest-header__number p {
  white-space: nowrap;
  font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  font-weight: 700;
}
.rest-header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: calc(10px + -10 * ((100vw - 767px) / 433));
}
.rest-header__icons a {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media (min-width: 767px) {
  .rest-header__icons a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (max-width: 767px) {
  .rest-header {
    padding: 0 5em 0 0;
  }
  .rest-header__icons {
    padding: 0.625em 0 0 0;
  }
  .rest-header__number p {
    font-size: 0.875rem;
  }
}
@media (max-width: 425px) {
  .rest-header {
    padding: 0 4em 0 0;
  }
  .rest-header__icons {
    gap: 20px;
  }
  .rest-header__number {
    color: #fff;
  }
}

.burger {
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;
    width: 40px;
    height: 25px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .burger::before, .burger::after, .burger__icon {
    content: "";
    right: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #b31180;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger__icon {
    top: 46%;
  }
  .burger.cross_::before {
    top: 46%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.cross_::after {
    bottom: 46%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger.cross_ .burger__icon {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@media (max-width: 425px) {
  .burger {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.main {
  margin-top: calc(70px + 65 * ((100vw - 767px) / 433));
  padding-top: calc(95px + 65 * ((100vw - 320px) / 880));
}

.subscription {
  width: 100%;
}
@media (max-width: 375px) {
  .subscription__body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 320px) {
  .subscription__body {
    padding-left: 2px;
    padding-right: 2px;
  }
}
.subscription-kids {
  margin: 8em 0 0 0;
}

.body-subscription__header h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: calc(28px + 12 * ((100vw - 320px) / 880));
  line-height: 150%;
  text-align: center;
}
.body-subscription__decription {
  padding: 25px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body-subscription__decription h4 {
  font-weight: 500;
  font-size: calc(20px + 12 * ((100vw - 320px) / 880));
  line-height: 150%;
  text-align: center;
}
.body-subscription__decription img {
  margin: 0 17px 0 0;
}

.card {
  width: 100%;
  padding-top: 4.5em;
  padding-left: calc(120px + 70 * ((100vw - 767px) / 433));
  padding-right: calc(120px + 70 * ((100vw - 767px) / 433));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card .__icon-one {
  font-size: 2.8rem;
}
.card .__icon-card {
  font-size: 2.8rem;
}
.card__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  min-height: 280px;
  background: linear-gradient(175.51deg, #ff3dec 3.64%, #ffbcfd 112.01%);
  -webkit-box-shadow: 0px 1px 29px rgba(255, 141, 237, 0.63);
          box-shadow: 0px 1px 29px rgba(255, 141, 237, 0.63);
  border-radius: 55px;
}
.card .card-text, .card .card-cost {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 220%;
  color: #ffffff;
}
.card .card-cost {
  font-size: 1.87rem;
  line-height: 150%;
  padding: 0 0 0.73em 0;
}
.card .card-button {
  border: 1px solid #fff;
  background: transparent;
  border-radius: 60px;
  padding: 1em 2em;
  color: #fff;
  -webkit-transition: background 800ms ease;
  transition: background 800ms ease;
}
@media (min-width: 767px) {
  .card .card-button:hover {
    border: 1px solid transparent;
    background: linear-gradient(93.37deg, #7775e7 0%, #a93cf6 65.9%, #c41dff 102.69%);
  }
}
@media (max-width: 992px) {
  .card {
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media (max-width: 767px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .card {
    gap: 1.9em;
  }
}

.timetable-subscription {
  padding: 4.5em 0 0 0;
}
.timetable-subscription__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 1px 1fr 1px 1fr;
      grid-template: auto/repeat(3, 1fr);
  gap: 1px;
  border: 1px solid #d5cff5;
  background: #d5cff5;
  max-width: 500px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}
.timetable-subscription__header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  color: #000;
  text-align: center;
  margin: 0 0 3.5em 0;
}
.timetable-subscription__days {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#bbbbf0), color-stop(71.12%, #d8a0fa));
  background: linear-gradient(90deg, #bbbbf0 0%, #d8a0fa 71.12%);
  text-align: center;
  padding: 1.5em 0 1.5em;
}
.timetable-subscription__times {
  color: #9b4eed;
  background: #fff;
  text-align: center;
  padding: 1.5em 0 1.5em;
}

.description {
  overflow: hidden;
  width: 100%;
  background: url(../img/description/background.png) 50% 0/cover no-repeat;
}
.description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: calc(100px + 250 * ((100vw - 320px) / 880));
}
.description__body {
  color: #fff;
}

.img-description {
  position: relative;
  width: 40%;
}
.img-description img {
  position: absolute;
  z-index: 1;
  left: -93px;
  bottom: -370px;
  width: auto;
}
@media (max-width: 767px) {
  .img-description img {
    width: 100%;
    top: -100px;
    bottom: 0;
  }
}

.body-description {
  padding: 0 0 0 7em;
  width: 60%;
  position: relative;
}
.body-description__header h1 {
  font-size: 2.8125rem;
  font-weight: 500;
  line-height: 71.1111111111%;
}
.body-description__text {
  padding: 3.125em 0 1.875em;
  width: 85%;
}
.body-description__text article {
  font-size: 1.875rem;
}
.body-description__text-description p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 155.5555555556%;
}
.body-description__text-description p:not(:last-child) {
  font-weight: 700;
}
.body-description__links {
  padding: 5.5em 0 7em 0;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-description__links a {
  font-size: 33px;
}
.body-description__links a::before {
  color: #fff;
  font-size: 1.125rem;
}
@media (max-width: 767px) {
  .body-description__links {
    display: none;
  }
}