.header {
   position: fixed;
   width: 100%;
   background: #fff;
   @include adaptive-tablet(padding-top, 15, 5);
   @include adaptive-tablet(padding-bottom, 15, 5);
	transition: all 400ms ease-out;
   &__container {
      @include flex(flex-start, space-between);
   }

   &__logo {
      position: relative;
      z-index: 3;
      @include adaptive-tablet(padding-right, 16, 5);
      img {
         min-width: 70px;
         max-width: 200px;
         @include adaptive-tablet(width, 175, 70);
      }
   }

   &__menu {
      position: relative;
      z-index: 3;
      @include adaptive(padding-top, 30, -10);
   }

   &__rest {
      position: relative;
      z-index: 3;
      @include adaptive-tablet(padding-top, 30, 0);
   }
   &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
   }
   @media (max-width: $tablet) {
      padding-top: 5px;
      padding-bottom: 5px;
      &__logo {
         padding-right: 0;
      }
   }
	&.fix_{
		transform: translate(0,0) !important;
	}
}

.menu {
   .nav {
      &__list {
         @include flex(center, center);
         @include adaptive(row-gap, 0, 10);
         flex-wrap: wrap;
         list-style: none;
      }
      li {
         text-align: center;
         &:not(:last-child) {
            @include adaptive-tablet(padding-right, 45, 20);
         }
      }
      &__link {
         position: relative;
         padding: 0.1em 0;
         @media (min-width: $tablet) {
            &::before {
               content: '';
               width: 0;
               height: 1px;
               background: #b31180;
               position: absolute;
               bottom: 0;
               left: 0;
               right: 0;
               margin: 0 auto;
               transition: all 400ms ease-out;
            }

            &:hover {
               &::before {
                  width: 100%;
               }
            }
         }
      }
   }
   @media (max-width: $tablet) {
      & {
         position: absolute;
         z-index: 1;
         left: 0;
         top: 55px;
         width: 100%;
         height: 100vh;
         background: $primary;
         overflow: auto;
         transition: all 600ms ease;
         transform: translate(0, -200%);
         padding: 0 0 5em 0;
         .nav__list {
            flex-direction: column;
            height: 100%;
         }

         li {
            padding: 1em 0 !important;
         }

         .nav__link {
            color: #fff;
            font-size: 2rem;
            text-decoration: underline;
         }
         &.open_ {
            transform: translate(0, 0);
         }
      }
   }
}

.rest-header {
   flex: 0 1 13%;
   @include adaptive-tablet(padding-left, 24, 10);
   &__number {
      p {
         white-space: nowrap;
         @include adaptive-font(16, 12);
         font-weight: 700;
      }
   }

   &__icons {
      @include flex(center, space-between);
      @include adaptive-tablet(padding-top, 0, 10);
      a {
         transition: all 500ms ease;
         @media (min-width: $tablet) {
            &:hover {
               transform: scale(1.5);
            }
         }
      }
   }
   @media (max-width: $tablet) {
      padding: 0 5em 0 0;
      &__icons {
         padding: 0.625em 0 0 0;
      }
      &__number {
         p {
            font-size: 0.875rem;
         }
      }
   }
   @media (max-width: $bigPhone) {
      padding: 0 4em 0 0;
      &__icons {
         gap: 20px;
      }
      &__number {
         color: #fff;
      }
   }
}
.burger {
   display: none;
   @media (max-width: $tablet) {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 10;
      width: 40px;
      height: 25px;
		transform: translateY(-50%);
      &::before,
      &::after,
      &__icon {
         content: '';
         right: 0;
         position: absolute;
         display: block;
         width: 100%;
         height: 2px;
         background: $primary;
         transition: all 300ms ease;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      &__icon {
         top: 46%;
      }
      &.cross_ {
         &::before {
            top: 46%;
            transform: rotate(45deg);
         }
         &::after {
            bottom: 46%;
            transform: rotate(-45deg);
         }
         .burger__icon {
            transform: scale(0);
         }
      }
   }
	@media (max-width: $bigPhone) {
		transform: translateY(50%);
	}
}
